.header-text_level_h1 {
    font: 24px/1.5em "PT Sans", Arial, sans-serif;
    margin-bottom: 12px;
}

.header-text_level_h2 {
    font: 22px/1.5em "PT Sans", Arial, sans-serif;
    margin-bottom: 8px;
}
