.cart {
    width: 225px;
    margin-top: 15px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
}

.cart__text_head_yes {
    text-transform: uppercase;
    font-weight: bold;
}
