body {
    margin: 0;
    padding: 0;
    background: url(page.png);
    font: 18px/1.5em "PT Sans", Arial, sans-serif;
    color: #1f1a17;
    min-width: 1000px;
}

input, button, select, textarea {
    font: 18px/1.5em "PT Sans", Arial, sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: #1175aa;
}
